[color]
  ui = true
[user]
  name = Daniel Carral
  email = dan@dcarral.org
[core]
  editor = atom --wait
  pager = diff-highlight | less
  [interactive]
    diffFilter = diff-highlight
[push]
  default = simple
[color "diff"]
  commit = green
  meta = yellow
  frag = cyan
  old = red
  new = green
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
