"*":
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "metrics"
      "spell-check"
      "linter-eslint"
      "exception-reporting"
    ]
    projectHome: "/home/dani/projects"
  editor:
    invisibles:
      eol: false
    showInvisibles: true
    showIndentGuide: true
    preferredLineLength: 100
  "linter-rubocop": {}
  linter: {}
  whitespace: {}
  "ruby-test":
    rspecFileCommand: "bundle exec rspec -tty {relative_path}"
    rspecSingleCommand: "bundle exec rspec -tty {relative_path}:{line_number}"
    rspecAllCommand: "bundle exec rspec -tty spec"
  "":
    coffee:
      source:
        editor:
          preferredLineLength: 100
    litcoffee:
      source:
        editor:
          preferredLineLength: 100
