"*":
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "metrics"
      "spell-check"
      "linter-eslint"
      "exception-reporting"
      "linter-coffeelint"
    ]
    projectHome: "/home/dani/projects"
  editor:
    invisibles:
      eol: false
    showInvisibles: true
    preferredLineLength: 100
  "linter-rubocop": {}
  linter: {}
