"*":
  "":
    coffee:
      source:
        editor:
          preferredLineLength: 100
    litcoffee:
      source:
        editor:
          preferredLineLength: 100
  "atom-beautify":
    general:
      analytics: false
  core:
    disabledPackages: [
      "metrics"
      "spell-check"
      "exception-reporting"
    ]
    projectHome: "/home/dani/projects"
  editor:
    invisibles:
      eol: false
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "language-babel": {}
  linter:
    lintOnFly: false
  "linter-rubocop":
    command: "bundle exec rubocop"
  react: {}
  "ruby-test":
    specFramework: "rspec"
  "todo-show": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".babel.regexp.source":
  editor:
    preferredLineLength: 100
".gfm.source":
  editor:
    preferredLineLength: 100
".js.jsx.source":
  editor:
    preferredLineLength: 100
